<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486139578612-osgdcs96k3h30i3optaj9v9g57s4t61q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486139578612-osgdcs96k3h30i3optaj9v9g57s4t61q</string>
	<key>API_KEY</key>
	<string>AIzaSyApCGRlFTmxXCrEs7ryV11Tajqa-je33CY</string>
	<key>GCM_SENDER_ID</key>
	<string>486139578612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adithya.dropproject</string>
	<key>PROJECT_ID</key>
	<string>glassy-archway-379908</string>
	<key>STORAGE_BUCKET</key>
	<string>glassy-archway-379908.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486139578612:ios:d4bdc953b0aabdaeb136a1</string>
</dict>
</plist>